@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: #fad287;   
}
h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}
#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}
.active {
    border-bottom: 1px solid #3a3a3a;  
}

footer {
    width: 100%;
    height: 150px;
}
.social-networks {
    text-align: center; 
    margin: 0 auto;
    position: relative;
}
.social-networks > li {
    display: inline;
}
.social-networks i {
    font-size: 50px;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}



@media screen and (max-width: 1200px) {
    #table-image {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
    #position {
        padding: 30px 0;
        margin: 0;
        width: 100%;
        float: left;
    }
    hr {
        display: none;
    }
    
}

@media  screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px; 
    }
    #table-image {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }
    #position {
        width: 100%;
        text-align: center;
    }
    #photos {
        column-count: 3;
    }
    
}

@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }
}  
    

.container {
    width: 50%;
    float: left;
    margin-top: 20px;
    margin-left: 100px;
	position: relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
    width: 60%;
	background:#fad287;
    float: left;
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px black;
    overflow: hidden;
    	
}

#contact h3 {
	color: #3a3a3a;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin: 5px 0 15px;
	display: block;
	font-size: 13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 10%;
	padding: 0;
	width: 90%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width: 100%;
	border: 1px solid #CCC;
	background: #FFF;
	margin: 0 0 5px;
	padding: 10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #AAA;
}

#contact textarea {
	height: 100px;
	max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
	cursor: pointer;
	width: 100%;
	border: none;
	background:#0CF;
	color:#FFF;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline: 0;
	border: 1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
.openinghours {
    font-family: Lucida Console;
    border-radius: 4px;
    box-shadow: 0 0 10px black;
    overflow: hidden;
    display: inline-block;
}
.openinghourscontent {
    float: left;
}
.openinghourscontent h2 {
    display: block;
    text-align: center;
    margin-top: .33em;
}

.opening-hours-table tr td:first-child {
    font-weight: bold;
}
#open-status {
    display: block;
    margin-top: -1em;
    text-align: center;
    border: dotted lightgrey 3px;
}
.openorclosed:after {
    content:" open during these hours:";
}
.opening-hours-table tr td {
    padding: 5px;
}
.openinghours {
    float: right;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 150px;
    position: relative;
    
}





