@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}/*give the body some style*/
body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: rgb(250, 209, 133);   
}/*give h1,h2 some style*/
h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}/*give the logo the style*/
#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}/*give the menu-bar the style*/
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}
#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}
.active {
    border-bottom: 1px solid #3a3a3a;
    
}/*give the picture the style*/
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    
}
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    animation: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    background-size: cover;
}
@keyframes hero-zoom {
    from { transform: scale(1);
    }
    to {transform: scale(1.1);}
    
}
.Menu-food {font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    text-align: center;
    font-size: xx-large;
}
.Menu-cocktail {font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    text-align: center;
    font-size: xx-large;
}
#table-image {/*give the picture here and the style*/
    background:  url('../images/table-image.jpg') no-repeat center center;
    background-size: cover;
    height: 700px;
    width: 70%;
    margin: 1.25rem auto;
    border-radius: 5px;
    background-size: cover;
}
.position {
    display: block;
    margin: 1em 200px auto;
    background-repeat: no-repeat;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: #000000;

}
a {
    color:#fdcb7f;   
}

#Menu-food {
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: sans-serif;
}
.menu-space{
    position: relative;
    margin-top: 35px;
}
.food{
    margin: 20px;
    padding-top: 100px;
}
p{
    display: block;
    margin: 15px;
}
#Drinks-Menu {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: sans-serif;
}
.drinks{
    margin: 20px;
    padding-top: 100px;
}
footer {/*write for footer the style*/
    height: 150px;
}
.social-networks {
    text-align: center; 
}
.social-networks > li {
    display: inline;
}
.social-networks i {
    font-size: 50px;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}
#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;

}
#photos > img {
    width: 100%;
}
.container {
    width: 50%;
    float: left;
    margin-top: 20px;
    margin-left: 100px;
    position: relative;
	
}
/*start the contact page here*/
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
    width: 60%;
	background:#fad287;
    float: left;
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px black;
    overflow: hidden;
    	
}

#contact h3 {
	color: #3a3a3a;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin: 5px 0 15px;
	display: block;
	font-size: 13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 10%;
	padding: 0;
	width: 90%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width: 100%;
	border: 1px solid #CCC;
	background: #FFF;
	margin: 0 0 5px;
	padding: 10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #AAA;
}

#contact textarea {
	height: 100px;
	max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
	cursor: pointer;
	width: 100%;
	border: none;
	background:#0CF;
	color:#FFF;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline: 0;
	border: 1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}
.openinghours {
    font-family: Lucida Console;
    border-radius: 4px;
    box-shadow: 0 0 10px black;
    overflow: hidden;
    display: inline-block;
}
.openinghourscontent {
    float: left;
}
.openinghourscontent h2 {
    display: block;
    text-align: center;
    margin-top: .33em;
}

.opening-hours-table tr td:first-child {
    font-weight: bold;
}
#open-status {
    display: block;
    margin-top: -1em;
    text-align: center;
    border: dotted lightgrey 3px;
}
.openorclosed:after {
    content:" open during these hours:";
}
.opening-hours-table tr td {
    padding: 5px;
}
.openinghours {
    margin-right: 200px;
    margin-top: 100px;
    position: relative;
    margin-bottom: 150px;  
}
/*start to give style for different screen size*/
@media  screen and (max-width: 950px) {
#photos {
    column-count: 3;
}   
}

@media screen and (max-width: 800px) {
#photos {
    column-count: 2;
}   
}
@media only screen and (min-width: 320px)  and (max-width: 480px){
#logo{
    font-size: 30px;
}
#menu{
    width: 100%;
    display: grid;
    position: relative;
    padding: revert;
}
#hero-image{
    height: 200px;
    width: 80%;
}
#hero-outer{
    padding-left: 30px;
    height: 200px;
}
#table-image{
    height: 200px;
    width: 85%;
    position: relative;
    padding-left: 15px;
}
.position {
    font-size: 20px;
    margin: 0 auto;
}
.social-networks{
    letter-spacing: 15px;
}
.container{
    width: 100%;
    margin-left: 40px;
    position: relative;
}
.openinghours{
    width: 60%;
    margin-left: 50px;
    font-size: 10px;
    padding: 10px;
}
#Menu-food{
    font-size: 10px;
}
#Drinks-Menu{
    font-size: 10px;
}
}
@media only screen and (min-width: 375px) and (max-width: 667px){
#hero-image {
    margin-left: 5px;
}
.container{
    padding-left: 15px;
}
.openinghours{
    width: 60%;
    margin-left: 70px;
}
.openinghourscontent{
    margin: 0 auto;
    position: relative;
}
}
@media only screen and (min-width: 414px) and (max-width: 736px){
#hero-image{
    margin-left: 10px;
}
.container{
    padding-left: 20px;
}
.openinghours{
    margin-right: 75px;
}
.openinghourscontent{
    margin-left: 40px;
}
} 
@media only screen and (min-width: 375px) and (max-width: 812px){
#hero-image{
    margin-left: 10px;
}   
} 
@media only screen and (min-width: 768px) and (max-width: 1024px){
#logo{
    width: 1%;
    padding-left: 10px;
}
#menu{
    width: 100%;
    font-size: 30px;
    display: flex;
    position: relative;
    padding: revert;
}
#hero-outer{
    height: 400px;
}
#hero-image{
    height: 400px;
    width: 70%;
    background-size: cover;
    margin-left: 100px;
}
#table-image{
    width: 78%;
    height: 400px;
    margin-left: 70px;
}
.Menu-cocktail{
    margin-top: 10px;
}
.openinghours{
    font-size: 20px;
    left: 430px;
    position: absolute;
}
.container{
    width: 70%;
    right: 85px;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1366px){
#logo{
    width: 100%;
    font-size: 50px;
    margin: 20px 30px;
}
#menu{
    font-size: 40px;
    margin-bottom: 30px;
}
#hero-image{
    margin: auto;
}
#table-image{
    margin: auto;
}
.openinghours{
    font-size: 23px;
    margin-left: 205px;
    padding: 20px;
}
.container{
    width: -webkit-fill-available;
}
    
}
@media only screen and (min-width: 540px) and (max-width: 720px){
#hero-outer{
    height: 400px;
}
#hero-image{
    height: 400px;
    width: 85%;
    margin-left: 40px;
}
#table-image{
    height: 300px;
}
.position{
    font-size: 20px;
    margin: 0 auto;
}
.container{
    width: 100%;
    margin-left: 70px;
}
    .openinghours{
    margin-left: 100px;
}
}
@media only screen and (min-width: 280px) and (max-width: 319px){
#logo{
        font-size: 20px;
        margin-left: 10px;
    }
    #menu{
        display: inline-grid;
        margin-left: 10px;
    }
    #hero-image{
        height: 200px;
        width: 80%;
        margin-left: 28px;
    }
    #hero-outer{
        height: 200px;
    }
    #table-image{
        height: 200px;
        width: 90%;
    }
    .position{
        margin: 0 auto;
        font-size: 20px;
    }
    .container{
        width: 100%;
    margin-left: 36px;
    }
    .openinghours{
        font-size: 13px;
        margin-left: 38px;
    }
}